html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    min-width: 400px;
    color: #5f6368;
}

a {
    text-decoration: none;
    color: #5f6368;
}

.head {
    margin: 22px 0px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.hbox3 {
    display: flex;
    padding-top: 5px;
    fill: currentColor;
    width: 100px;
    margin-left: 33px;
}

svg {
    margin: 0px 10px;
    display: flex;
    fill: currentColor;
    width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.search-place {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.search-place input {
    width: 480px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgb(199, 198, 198);
}

.search-place svg {
    width: 30px;
    position: absolute;
    margin-top: 5px;
}

.srch {
    display: flex;
}

.srch img {
    position: absolute;
    display: flex;
    justify-content: right;
    margin-left: 400px;
}

.img2 {
    position: absolute;
    border: 10px;
    margin-left: 500px;
    width: 32px;
    margin-top: 5px;
}

.img1 {
    position: absolute;
    margin-left: 450px;
    margin-top: 8px;
}

.srch-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.srch-btn button {
    margin: 0px 10px 0px 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
}

.p1 {
    text-align: center;
    margin: 35px 0px;
}

.footer {
    background-color: rgb(242, 242, 242);
    flex-grow: 1;
}

.f1 {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.ft {
    display: flex;
    gap: 20px;
}

.f2 {
    display: flex;
    margin-left: 170px;
}

.f3 {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-left: 600px;
}

.f4 {
    justify-content: end;
}